  <style>
    .Request-button{
            background-color: black;
            height:32px;
            width:130px;
            border: none;
            color:white;
            margin-left: 2px;
            cursor: pointer;
            transition: opacity 0.15s;
        }
        .Request-button:hover{
           opacity: 0.7;
           color:rgb(228, 40, 40);

        }
        .Request-button:active{
            opacity: 0.5;
            color:rgb(20, 79, 155);
        }
    .Add-button{
            background-color: rgb(255,216,20);
            color:rgb(28, 28, 61);
            border-radius: 32px;
            border:none;
            height: 32px;
            width:105px;
            margin-left: 4px;
cursor: pointer;
        }
        .Sign-button{
            background-color: rgb(19, 185, 19);
            color: white;
            height: 40px;
            width: 98px;
            border-radius: 8px;
            border:none;
            cursor: pointer;
            margin-left: 4px;
            transition: background-color 0.15s;
        }
        .Sign-button:hover{
            background-color:rgb(16, 158, 16) ;
        }
        .Get-button{
            background-color: rgb(111, 33, 184);
            color: white;
            height: 40px;
            width:102px;
            border-radius: 4px;
            border:none;
            margin-top: 10px;
        }
        .Download-button{
            background-color: white;
            color: grey;
            border-color:grey;
            border-style: solid;
            border-radius: 4px;
            height: 40px;
            width: 102px;
            margin-top: 10px;
            font-weight: 100;
            cursor: pointer;
            margin-left:4px;
            transition:background-color 0.15s ;
        }
        .Download-button:hover{
            background-color:grey ;
            color: white;
        }
        .Apply-button{
            background-color: rgb(89, 89, 235);
            color: white;
            height:40px;
            width:205px;
            border: none;
            border-radius: 20px;
            font-weight: bold;
            cursor: pointer;
            margin-left: 4px;
            transition: background-color 0.15s;
        }
        .Apply-button:hover{
            background-color: rgb(70, 70, 201);
        }
        .Apply-button:active{
            opacity: 0.7;
        }
        .Save-button{
            background-color: white;
            color: rgb(11, 153, 219);
            border-color:rgb(11, 143, 204);
            border: none;
            border-style: solid;
            border-radius:18px ;
            border-width:0.1ch;
            height:36px;
            width:72px;
            cursor: pointer;
            font-weight: bold;

        }
        .save-button:hover{
            background-color:rgb(11, 143, 204);
            color:white;
            box-shadow: 5px 5px 10px rgba(0,0,0,0.7);
        }
    </style>